<!doctype html>
<html ng-app>
    <head>
        <title>angularMozillians</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Bootstrap -->
        <link href="./bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">     
        <link rel="shortcut icon" type="image/ico" href="http://mozillians.org/media/img/favicon.ico">           
    </head>

    <body style='padding-top: 70px'>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">angular-mozillians</a>
                <div class="nav-collapse collapse">
                  <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#contact">Contact</a></li>
                  </ul>
                </div><!--/.nav-collapse -->
            </div>
        </div>

        <div class='container'>
            <div class='row'>
                <div ng-controller="SearchCntl">
                    <div class='col-md-6'>
                        <form role="form">
                            <div class="form-group">
                                <label for="searchField" class="control-label">Field</label>
                                <div>
                                <select ng-model="searchField" ng-options="fieldName for fieldName in fieldNames">
                                </select>               
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="searchString" class="control-label">Value</label>
                                <div>
                                <input type="text" class="form-control" id="searchString" ng-model="searchString" />
                                </div>
                            </div>                        

                            <div class="form-group">
                                <div>
                                    <button ng-click="search(searchString)" class="btn btn-default">Search</button>
                                    (<a target='_blank' href='{{searchURL}}'>raw</a>)
                                </div>
                            </div>                        
                        </form>

                        <div></div>
                    </div>

                    <div class='col-md-6'>
                        <div>
                            {{searchedString}}
                            <span ng-show='meta.total_count==1'>person</span>
                            <span ng-show='meta.total_count!=1'>people</span>, view for 
                            <select ng-model="summitLocation" ng-options="summitLocation for summitLocation in summitLocations">
                                <option value="">All</option>
                            </select>               
                        </div>
                        <ul class='list-group'>
                        <li class='list-group-item' ng-repeat='person in people | filter: {summit_location: summitLocation}'>
                            <div style="float: left; padding-right: 10px; display: block">
                                <img ng-show='!person.photo' src='./person.jpg' height='48px' />
                                <img ng-show='person.photo' src='{{person.photo}}' height='48px' />
                            </div>
                            {{person.full_name}}, {{person.summit_location}}<br />
                            {{person.bio}}
                            <br clear='all' />
                        </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <script src="http://code.angularjs.org/1.2.0rc1/angular.min.js"></script>
        <script src="http://code.angularjs.org/1.2.0rc1/angular-resource.min.js"></script>

        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://code.jquery.com/jquery.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="./bootstrap/js/bootstrap.min.js"></script>

        <!-- Enable responsive features in IE8 with Respond.js (https://github.com/scottjehl/Respond) -->
        <script src="./bootstrap/js/respond.js"></script>    
        
        <!-- JS code for this app -->
        <script src="apikey-real.js"></script>            
        <script src="locationMap-real.js"></script>            
        <script src="app.js"></script>            

    </body>
</html>